<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">

      <% if cocktail.photo? %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo.path, height: 300, crop: :fill %>'); padding: 15px; margin: 10px; border-radius: 10px; height: 150px; overflow: auto; text-overflow: ellipsis;">
      <% else %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://lorempixel.com/400/150/nightlife/<%= rand(10) + 1 %>'); padding: 15px; margin: 10px; border-radius: 10px; height: 150px; overflow: auto; text-overflow: ellipsis;">
      <% end %>

        <div class="card-category">
          <%= link_to cocktail_path(cocktail), method: :delete do %>
          <i class="fa fa-trash"></i>
          <% end %>
        </div>
        <div class="card-description">
          <h2>
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </h2>
        </div>
      </div>

    </div>
    <% end %>
  </div>
</div>



