<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to "Home", root_path, class: "navbar-wagon-brand" %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <!-- Button (call-to-action) -->
    <%= link_to "Add a cocktail", new_cocktail_path, class: "navbar-wagon-item" %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
</div>
